@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.App {
  padding: 1rem 3rem;
  max-width: 1200px;
  margin: auto;
}

.shop__icon_container {
  padding: .5rem 1rem;
  text-align: end;
}